# Node / Next.js
node_modules/
.next/
out/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Env & local secrets
.env
.env.*

# Prisma local DB
prisma/dev.db
prisma/dev.db-journal

# Local uploads (use Blob/S3 in production)
public/uploads/

# System files
.DS_Store
Thumbs.db

# Vercel/IDE
.vercel/
.vscode/
